*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');

h1{
    color: rgb(6, 10, 255);
    font-family: 'Italianno', cursive;
    padding-bottom: 1.5rem;
    font-weight: 500;
}
audio{
    height: 2rem;
    opacity: 0.5;
    padding-top: 0.5rem;

}
section{
    opacity: 0.8;
}
body{
    height: 100vh;
    background-color: #74ebd5;
    background: url(images/background.jpg) no-repeat bottom;
    background-size: cover;
    display: flex;
    justify-content: center ;
    align-items:center;
    flex-direction: column;
}

section{
    display: grid;
    grid-template-columns: repeat(4,8rem);
    grid-template-rows: repeat(4,8rem);
    grid-gap: 2rem;
    perspective: 800px;
}

.card{
    position: relative;
    transform-style: preserve-3d;
    transition: all 2s cubic-bezier(0.175,0.885,0.32,1.275);
  box-shadow: black 0px 5px 15px;
}
.face,
.back{
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}
.back{
    background: white;
    backface-visibility: hidden;
}
.toggleCard{
    transform: rotateY(180deg);
}
/* Tablets (portrait) */
@media (max-width: 900px) {
    section {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Mobile phones */
@media (max-width: 600px) {
    section {
        grid-template-columns: repeat(2, 1fr);
    }
}
